tg-trello-import-project-members {
    h2 {
        @include font-size(normal);
        @include font-type(bold);
    }
    .user-row {
        align-items: center;
        border-bottom: 1px solid $gray-light;
        display: flex;
        justify-content: space-between;
    }
    .user-info {
        display: flex;
        align-items: center;
    }
    .username {
        margin-left: 1rem;
    }
    .importer-name {
        @include font-type(bold);
    }
    .avatar {
        &.empty {
            background-color: $whitish;
            line-height: 48px;
            text-align: center;
            width: 48px;
        }
    }
}
