.create-project.import-project
    div(ng-include="'projects/create/import/import-header.html'")

    h2(translate="PROJECT.IMPORT.TRELLO.PROJECT_MEMBERS")
    p.process-description(translate="PROJECT.IMPORT.TRELLO.PROCESS_DESCRIPTION")

    p.importer-name(translate="PROJECT.IMPORT.TRELLO.TITLE")
    ul
        li.user-row
            .user-info
                .avatar.empty M
                span.username Elsdfh Odsfksui

            button.button.button-green Elegir
