.create-project.import-project(ng-if="vm.step == 'autorization-trello'")
    h1.create-project-title(translate="PROJECT.IMPORT.TITLE")
    h3.create-project-description(translate="PROJECT.IMPORT.DESCRIPTION")

    section.import-project-from
        h1
            tg-svg(svg-icon="icon-upload")
            span(translate="PROJECT.IMPORT.IMPORT")

        p autorization